html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-1 {
    background-color: blue;
    display: flex; /*ativa o flexbox*/
    padding: 10px;
    flex-direction: row;/*vertical ou horizontal*/
    flex-wrap: wrap;/*quebra de linha, evitando distorção*/
    flex-flow: row wrap;/*atalho de flex-direction e wrap */ 
    justify-content:space-around;/*trata o eixo main*/
    align-items: flex-start;/*trata o eixo cross*/
}

.item-1 {
    background-color: blueviolet;
}

.item-2 {
    background-color: darkolivegreen;
}

.item-3 {
    background-color: crimson;
    align-self: flex-end;/*alinhamento para apenas um item*/
}

.item-4 {
    background-color: cornflowerblue;
}

.item-1,
.item-2,
.item-3,
.item-4 {
    width: 200px;
    padding: 8px;
}

.container-2 {
    background-color: coral;
    height: 250px;
    display: flex;
}

.coluna-1 {
    background-color: chartreuse;
    flex: 1;
}

.coluna-2 {
    background-color: darkblue;
    flex: 2;/*ocupa uma porção do espaço disponível*/
}

.coluna-3 {
    background-color: fuchsia;
    flex: 1;
}